<h1>T'es bien sur le sign up</h1>
<h1>T'es bien sur le sign up</h1>
<h1>T'es bien sur le sign up</h1>

<h1>{{ "Il s'appelle " + name + " et il a " + age + " ans " + email }}</h1><!--concaténation fonctionnelle-->
<input type="email" name="email" placeholder="ceci est un input component"/>

<!--<app-user-profile 
    (usery)="handleButton($event)"
></app-user-profile>-->

<ul *appIsMovieOk="isOkForMovie">
    <li appHoverMoused>La Ligne Jaune</li>
    <li>Vingt milliards de poissons sous les mers</li>
    <li>Harry Potter à l'école des Banquiers</li>
    <li>DUNK ErK</li>
    <li>Alien VS Predator the Pre-Pre-Prequel</li>
    <li>Chérie j'ai mangé tes gosses</li>
</ul>

<button (click)="listClicked()"
>
    Show Movies
</button>

